.card {
    width: 90%;
    margin: 1rem auto;
    background-color: rgb(235, 235, 235);
}

img {
    height: 20rem;
}

@media (min-width: 350px) {
    .card {
        width: 70%;
    }

    img {
        height: 10rem;
    }
}